@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.navColor{
    background-color: white !important;
}

.headerText{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: hsl(255, 11%, 22%) !important;
}

.subHeadText{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: hsl(0, 0%, 58%) !important; 
    
}
.subHeadText2{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white !important;
}
.subHeadText3{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: hsl(0, 0%, 58%) !important;
}
.subHeadText:hover{
    color: black !important;
    cursor: pointer;
}
.subHeadText3:hover{
    color: hsl(180, 66%, 49%)  !important;
    cursor: pointer;
}
.footIcon:hover{
cursor: pointer;
filter: invert(0.29) sepia(1) saturate(4.8) hue-rotate(136.8deg) brightness(1)contrast(92%);
}


.signUpBtn{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    width: 120px;
    background-color: hsl(180, 66%, 49%) !important;
    color: white;
    border-radius: 40px;
    border: none;
}

.headerFormSect{
    margin-left: auto;
    display: flex;
}

.homeHeader{
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    font-weight: 700;
    color: hsl(255, 11%, 22%);
    
}

.containerHome{
    margin-top: 120px;
}

.homeText{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: hsl(0, 0%, 58%);
}

.getStarted{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    width: 200px;
    height: 60px;
    background-color: hsl(180, 66%, 49%) !important;
    color: white;
    border-radius: 40px;
    border: none;
}

.footerBottom{
    background-color: hsl(255, 11%, 22%) !important;
}

.bottomContainer{
    background-color: #eff1f7;
    margin-top: 190px;
    padding-bottom: 135px;
}

.shortForm{
    height: 65px;
    border-radius: 10px;
}

.shortBtn{
height: 65px !important;
background-color: hsl(180, 66%, 49%) ;
font-family: 'Poppins', sans-serif;
font-size: 24px;
font-weight: 600;
border-radius: 10px;
border: none;

}

.lineBehind{
    height: 8px;
    background-color: hsl(180, 66%, 49%);
    margin-top: -215px;
    width: 50%;
   
    
}

.lineBehindUp{
    height: 600px;
    background-color: hsl(180, 66%, 49%);
    margin-top: -900px;
    width: 8px;
}
.btnHover:hover{
    background-color: hsl(180, 52%, 70%) !important;
    }
ul{
    list-style-type: none;
    padding-left: 0px;
}
.linkCard{
    border-radius: 8px;

    overflow: hidden;
}
.linkBtn{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 125px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(180, 66%, 49%) !important;
    font-weight: 600;
    border: none;

}
.longLink{
    margin-left: 25px;
}
.coloredLink{
    color: hsl(180, 66%, 49%) !important;
    margin-left: auto;
    margin-right: 30px;
}

.cardShort{
    height: 180px;
    border-radius: 20px;
    background-color: #5f5678;
    background-image: url('images/bg-shorten-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    top: -80px;
}

.preFooter{
    height: 265px;
    background-color: #5f5678 !important;
    background-image: url('images/bg-shorten-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.textAdvance{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: hsl(0, 0%, 58%);
    width: 600px

}

.cardBottomText{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: hsl(0, 0%, 58%);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.cardBottomTtitle{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding-left: 20px;
    color: hsl(255, 11%, 22%) !important;
}

.iconDiv{
    background-color: hsl(255, 11%, 22%);
    width: fit-content;
    padding: 25px;
    border-radius: 100%;
    margin-top: -50px;
    margin-left: 15px;
}

.advancedCard{
    height: 300px;
    border-radius: 8px;
    width: 25rem;
    z-index: 50;
}

.card1{
margin-top: -50px;
}

.card2{
margin-top: 50px;
}

.footerTextBold{
    padding: 0 !important;
}
.marginStart{
    margin-left: 3rem;
}
.colDisplay{
    display: contents;
}

.hrDisplay{
    display: none !important;
}
.longLink{
    max-width: 450px;
}

@media only screen and (max-width: 1400px) {
    .advancedCard{
        width: auto;
        height: auto;
    }
    .lineBehind{
        margin-top: -242px;
    }
    
  }
  @media only screen and (max-width: 1200px) {

    .lineBehind{
        margin-top: -270px;
    }
    
  }
  @media only screen and (max-width: 992px) {
    .advancedCard{
        text-align: center;
        width: 30rem;
        height: auto;
    }
    .card1{
        margin-top: none;
    }
    .card3{
        margin-top: 80px;
    }
    .card2{
        margin-top: 80px;
    }
    .cardBottomTtitle{
        padding-left: 0px;
    }
    .iconDiv{
        margin: auto;
        margin-top: -50px;
    }
    .containerHome {
        margin-top: 0;
    }
    .moreThanDiv{
        margin-top: 70px !important;
        text-align: center;
    }
    .homeHeader{
        font-size: 64px;
    }
    .colDisplay{
        display: block;
        text-align: center;
    }
    .linkBtn{
        width: 50%;
    }
    .hrLine{
        width: 90%;
       text-align: center;
    }
    .longLink{
        max-width: 400px;
        margin-left: 0px;
    }
    .coloredLink{
        margin-right: 0px;
    }
    
  }

  @media only screen and (max-width: 990px) {

    .collapseMenu{
        background-color: #4b3f6b ;
        border-radius: 12px;
        color: white !important;
        text-align: center;
        margin-top: 15px;
    }
    .marginStart{
        margin-left: 0;
        margin-top: 30px;
    }
    .headerFormSect{
       display: block;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 35px;
    }
    .mobileSub{
        color: white !important;
        font-weight: 500;
        font-size: 22px;
    }
    .signUpBtn{
        margin-top: 18px;
        width: 60%;
        height: 60px;
    }
    
  }
  @media only screen and (max-width: 767px) {
    .advancedCard{
        width: auto;
        height: auto;
    }
    .cardShort{
        height: 225px;
    }
    .textAdvance{
        width: auto;
    }
    .signUpBtn{
        width: 80% !important;
    }
    
  }

  @media only screen and (max-width: 576px){
    .advancedCard{
        text-align: center;
        width: auto;
        height: auto;
    }
    .homeHeader{
        font-size: 48px;
    }
    .changeContainerSmall{
        width: 90%;
    }
    .boostText{
        font-size: 30px;
    }

    .moreThanDiv{
        margin-top: 40px !important;
        text-align: center;
    }
    .advancedTextHeader{
        font-size: 36px;
    }
     .footerMiddleText{
        margin: auto;
        text-align: center;
        margin-top: 15px;
    }
    .bottomHeader{
        margin-right: 0px !important;
    }
    .longLink{
        max-width: 300px;
        margin-left: 0px;
    }
    .coloredLink{
        margin-right: 0px;
    }
    .colDisplay{
        display: block;
        text-align: left;
    }
    .linkBtn{
        width: 100%;
    }
    
  }
.errorMessage{
    padding-top: 3px;
    font-weight: 600;
    color: red;
}
 
  
  @media only screen and (max-width: 425px){
 
    .homeHeader{
        font-size: 40px;
    }
    .homeText{
        font-size: 20px;
    }
   
    
    .boostText{
        font-size: 24px;
    }
    .preFooter{
        height: 290px;
    }
    .advancedTextHeader{
        font-size: 28px;
    }
    .longLink{
        max-width: 250px;
        margin-left: 0px;
    }
   
    
  }
  .giveMargin{
      margin-bottom: 90px;
  }

  @media only screen and (max-width: 350px){
 
    .homeHeader{
        font-size: 32px;
    }
    .homeText{
        font-size: 18px;
    }
    .boostText{
        font-size: 21px;
    }
    .advancedTextHeader{
        font-size: 26px;
    }
  }