@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

.navColor{
    background-color: white !important;
}

.headerText{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.subHeadText{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: hsl(0, 0%, 58%) 
}

.signUpBtn{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    width: 100px;
    background-color: hsl(180, 66%, 49%) !important;
    color: white;
    border-radius: 40px;
    border: none;
}

.headerFormSect{
    margin-left: auto;
}

.homeHeader{
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    font-weight: 600;
    
}

.containerHome{
    margin-top: 120px;
}

.homeText{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: hsl(0, 0%, 58%);
}

.getStarted{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    width: 200px;
    height: 60px;
    background-color: hsl(180, 66%, 49%) !important;
    color: white;
    border-radius: 40px;
    border: none;
}

.footerBottom{
    background-color: hsl(255, 11%, 22%) !important;
}

.bottomContainer{
    background-color: #f5f5f5;
    margin-top: 190px;
}

.shortForm{
    height: 65px;
    border-radius: 10px;
}

.shortBtn{
height: 65px !important;
background-color: hsl(180, 66%, 49%) !important;
font-family: 'Poppins', sans-serif;
font-size: 24px;
border-radius: 10px;
border: none;

}



.cardShort{
    height: 180px;
    border-radius: 20px;
    background-color: hsl(257, 7%, 63%);
    background-image: url('images/bg-shorten-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    
}


